[Desktop Entry]
Type=Application
Name=plusplus
Comment=Native database GUI
Exec=plusplus
Icon=plusplus
Terminal=false
Categories=Development;Database;
